<% @team = Team.find(params[:id]) %>

<div><h1>Editing team <%= link_to @team.name, team_path %></h1></div>

<div class='details'>
  <%= render 'teams/details', team: @team %>
</div>

<div>

Rerolls (<%= @team.reroll_cost %> each) 
<%= link_to "Buy", buy_item_path(:item => "rerolls"), data: {item: 'rerolls'}, class: "item", remote: true %> 
<%= link_to "Sell", sell_item_path(:item => "rerolls"), data: {item: 'rerolls'}, class: "item", remote: true %>
<br>Fan Factor (10 each) 
<%= link_to "Buy", buy_item_path(:item => "fanfactor"), data: {item: 'fanfactor'}, class: "item", remote: true %> 
<%= link_to "Sell", sell_item_path(:item => "fanfactor"), data: {item: 'fanfactor'}, class: "item", remote: true %> 
<br>Assistant Coaches (10 each) 
<%= link_to "Buy", buy_item_path(:item => "assistantcoaches"), data: {item: 'assistantcoaches'}, class: "item", remote: true %>
<%= link_to "Sell", sell_item_path(:item => "assistantcoaches"), data: {item: 'assistantcoaches'}, class: "item", remote: true %>
<br>Cheerleaders (10 each) 
<%= link_to "Buy", buy_item_path(:item => "cheerleaders"), data: {item: 'cheerleaders'}, class: "item", remote: true %>
<%= link_to "Sell", sell_item_path(:item => "cheerleaders"), data: {item: 'cheerleaders'}, class: "item", remote: true %>
<br>Apothecary (50) 
<%= link_to "Buy/Sell", toggle_item_path(:item => "apothecary"), data: {item: 'apothecary'}, class: "item", remote: true %>
<br>Team Wizard (150) 
<%= link_to "Buy/Sell", toggle_item_path(:item => "wizard"), data: {item: 'wizard'}, class: "item", remote: true %>
</div>

<%= render 'teams/current_players', team: @team, edit: true %>


<p>
<h4>Eligible Players:</h4>
  <% eligible_players(@team.race).each do |position, player| %>
    <%= position %>
    <%= player %>
    <br>
  <% end %>
  <br><br>
</p>

<p>

<p><h3>Add Player</h3></p>
<%= simple_form_for Player.new do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>  
  <p>
    <%= f.input :position, collection: positions(@team.race), selected: 1 %>
  </p>

  <%= f.input :team_id, :as => :hidden, :input_html => { :value => @team.id } %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
</p>


<p>
 <%= link_to "Finalise", finalise_path %>
</p>

