<h1>New Team</h1>

<% league = League.find(params[:league_id]) %></p>
<p>Adding team in league <%= link_to league.name, league_path(league.id) %></p>

<%= simple_form_for @team do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>  
  <p>
    <%= f.input :race, collection: races, selected: 1 %>
  </p>

 <%= f.input :league_id, :as => :hidden, :input_html => { :value => params[:league_id] } %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>