
<div>
  <div class='teamLabel'><h1><%= @team.name %></h1></div>
  <div class='ownerLabel'>Owned by <%= @team.user.username %></div>
</div>

<%= render 'teams/details', team: @team %>
<%= render 'teams/current_players', team: @team, edit: false %>


 <% if user_signed_in? && current_user.id == @team.user_id %>
 <div>
 <%= link_to 'Edit Team', edit_team_path %>
 </div>
 <% end %>

 <div>
 <%= link_to 'Back to ' + @team.league.name + ' League', league_path(@team.league_id) %>
 </div> 
