<div class="leagueName">
  <h2><%= @league.name %></h2>
</div>
<p>
  <strong>Created by:</strong>
  <%= User.find(@league.user_id).username %>
</p>

<div>
<h3>Teams</h3>

  <% @league.teams.each do |team| %>
  <p>
    <strong>Team:</strong>
    <%= link_to team.name, team_path(team.id) %>
  </p>
 
  <p>
    <strong>Race:</strong>
    <%= team.race %>
  </p>
<% end %>

</div>

<p><%= link_to 'Add Team', new_league_team_path(@league.id) %></p>
